<div class="page">
  <div class="header">
    <div class="breadcrumb">
      <span class="breadcrumb-item active">Gimnasios</span>
    </div>
    <button class="btn primary" (click)="openModal()">+ Crear gimnasio</button>
  </div>

  @if(!isLoading()){ @if(gyms && gyms.length > 0){
  <div #tableContainer class="gyms-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Nombre</td>
        </tr>

        <tr *ngFor="let item of gyms">
          <td (click)="goToClients(item)" class="link">
            {{ item.name }}
          </td>
        </tr>
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="180">Dirección</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>

        <tr *ngFor="let item of gyms">
          <td>
            {{ item.address }}
          </td>

          <td>
            <button class="btn" (click)="openModal(item)">✏️</button>
            <button class="btn danger" (click)="delete(item)">🗑️</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  } @else {
    <ng-container [ngTemplateOutlet]="emptyTable"></ng-container>
  } } @else {
  <div class="gyms-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Nombre</td>
        </tr>
        <ng-container
          [ngTemplateOutlet]="loadingTable"
          [ngTemplateOutletContext]="{ totalColumns: 1 }"
        >
        </ng-container>
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Dirección</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>
        <ng-container
          [ngTemplateOutlet]="loadingTable"
          [ngTemplateOutletContext]="{ totalColumns: 2 }"
        >
        </ng-container>
      </table>
    </div>
  </div>
  }
</div>

<ng-template #loadingTable let-totalColumns="totalColumns">
  <tr *ngFor="let tr of getRowsForSkeleton(4)">
    <td *ngFor="let td of getRowsForSkeleton(totalColumns)">
      <nz-skeleton-element
        nzType="input"
        nzSize="small"
        class="skeleton"
        style="width: 100%"
        [nzActive]="true"
      >
      </nz-skeleton-element>
    </td>
  </tr>
</ng-template>

<ng-template #emptyTable>
  <div class="empty-table">
    <span>Aún no se han registrado datos en esta sección</span>
  </div>
</ng-template>
