<div class="page">
  <div class="header">
    <div class="breadcrumb">
      <span (click)="goToGyms()" class="breadcrumb-item">Gimnasios</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">Clientes</span>
    </div>
    <button class="btn primary" (click)="openModal()">+ Crear cliente</button>
  </div>

  <div #tableContainer class="clients-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Nombre</td>
        </tr>

        @if(!isLoading()) { @if(clients.length > 0){
        <tr *ngFor="let item of clients">
          <td (click)="goToPayments(item)" class="link">
            {{ item.name }}
          </td>
        </tr>
        } @else {
        <tr>
          <td colspan="1" class="empty"></td>
        </tr>
        } } @else {
        <tr>
          <td colspan="1" class="empty"></td>
        </tr>
        }
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Email</td>
          <td class="bolder" [style.width.px]="120">Teléfono</td>
          <td class="bolder" [style.width.px]="120">Estado</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>

        @if(!isLoading()) { @if(clients.length > 0){
        <tr *ngFor="let item of clients">
          <td>
            {{ item.email }}
          </td>
          <td>
            {{ item.phone }}
          </td>
          <td>
            {{ item.status }}
          </td>

          <td>
            <button class="btn" (click)="openModal(item)">✏️</button>
            <button class="btn danger" (click)="delete(item)">🗑️</button>
            <!--<button (click)="viewPayments(c)">💰</button>-->
          </td>
        </tr>
        } @else {
        <tr>
          <td colspan="4" class="empty"></td>
        </tr>
        } } @else {
        <tr>
          <td colspan="4" class="empty"></td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>
