@import 'src/styles/mixins';

.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    max-width: 470px;
    height: 72px;
    padding: 24px;
    gap: 10px;
    z-index: 9999;
    border-radius: 24px;
    background: #F5F9F7;
    opacity: 0.9;

    &__error {
        background: #FCF5F4;
    }

    &__warning {
        background: #FCF8F4;
    }

    &--bottom-left {
        bottom: 16px;
        left: 1rem;
    }

    &--bottom-right {
        bottom: 16px;
        right: 1rem;
    }

    &--top-left {
        top: 16px;
        left: 1rem;
    }

    &--top-right {
        top: 16px;
        right: 1rem;
    }

    &--hide {
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 1s, 0s;
        transition-delay: 0s, 1s;
    }
}

.toast-v2 {
    &__left {
        display: flex;
        align-items: center;
        gap: 14px;

        & > span {
            color: #193628;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;

            &.error {
                color: #601B17;
            }

            &.warning {
                color: #563413;
            }
        }
    }

    &__close {
        cursor: pointer;
    }
}