<div class="page">
  <div class="header">
    <div class="breadcrumb">
      <span (click)="goToGyms()" class="breadcrumb-item">Gimnasios</span>
      <span class="breadcrumb-separator">/</span>
      <span (click)="goToClients()" class="breadcrumb-item">Clientes</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">Pagos</span>
    </div>
    <button class="btn primary" (click)="openModal()">+ Agregar pago</button>
  </div>

  <div #tableContainer class="payments-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Monto</td>
        </tr>

        @if(!isLoading()) { @if(payments.length > 0){
        <tr *ngFor="let item of payments">
          <td (click)="(null)" class="link">
            {{ item.amount }}
          </td>
        </tr>
        } @else {
        <tr>
          <td colspan="1" class="empty"></td>
        </tr>
        } } @else {
        <tr>
          <td colspan="1" class="empty"></td>
        </tr>
        }
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Desde</td>
          <td class="bolder" [style.width.px]="120">Hasta</td>
          <td class="bolder" [style.width.px]="120">Estado</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>

        @if(!isLoading()) { @if(payments.length > 0){
        <tr *ngFor="let item of payments">
          <td>
            {{ item.paid_from | date }}
          </td>
          <td>
            {{ item.paid_until | date }}
          </td>
          <td>
            {{ item.status }}
          </td>

          <td>
            <button class="btn" (click)="openModal(item)">✏️</button>
            <button class="btn danger" (click)="delete(item)">🗑️</button>
          </td>
        </tr>
        } @else {
        <tr>
          <td colspan="4" class="empty"></td>
        </tr>
        } } @else {
        <tr>
          <td colspan="4" class="empty"></td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>
