<div class="page">
  <div class="header">
    <div class="breadcrumb">
      <span (click)="goToGyms()" class="breadcrumb-item">Gimnasios</span>
      <span class="breadcrumb-separator">/</span>
      <span (click)="goToClients()" class="breadcrumb-item">Clientes</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">Pagos</span>
    </div>
    @if(!isLoading() && payments.length === 0){
    <button class="btn primary" (click)="openModal()">+ Agregar pago</button>
    }
  </div>

  @if(!isLoading()){ @if(payments && payments.length > 0){
  <div #tableContainer class="payments-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="100">Monto</td>
        </tr>

        <tr *ngFor="let item of payments">
          <td>
            {{ item.amount }}
          </td>
        </tr>
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="100">Desde</td>
          <td class="bolder" [style.width.px]="100">Hasta</td>
          <td class="bolder" [style.width.px]="120">Plan</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>

        <tr *ngFor="let item of payments">
          <td>
            {{ item.paid_from | date }}
          </td>
          <td>
            {{ item.paid_until | date }}
          </td>
          <td>
            {{ item.plans.name }}
          </td>

          <td>
            @if(item.is_active){
              <button class="btn" (click)="openRenewModal(item)">⏳</button>
            }
            <button class="btn danger" (click)="delete(item)" [disabled]="false">🗑️</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  } @else {
  <ng-container [ngTemplateOutlet]="emptyTable"></ng-container>
  } } @else {
  <div class="payments-table-container">
    <div class="fixed-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Monto</td>
        </tr>
        <ng-container
          [ngTemplateOutlet]="loadingTable"
          [ngTemplateOutletContext]="{ totalColumns: 1 }"
        >
        </ng-container>
      </table>
    </div>
    <div class="normal-table">
      <table>
        <tr class="sticky header-cell">
          <td class="bolder" [style.width.px]="120">Desde</td>
          <td class="bolder" [style.width.px]="120">Hasta</td>
          <td class="bolder" [style.width.px]="120">Plan</td>
          <td class="bolder" [style.width.px]="180">Acciones</td>
        </tr>
        <ng-container
          [ngTemplateOutlet]="loadingTable"
          [ngTemplateOutletContext]="{ totalColumns: 4 }"
        >
        </ng-container>
      </table>
    </div>
  </div>
  }
</div>

<ng-template #loadingTable let-totalColumns="totalColumns">
  <tr *ngFor="let tr of getRowsForSkeleton(4)">
    <td *ngFor="let td of getRowsForSkeleton(totalColumns)">
      <nz-skeleton-element
        nzType="input"
        nzSize="small"
        class="skeleton"
        style="width: 100%"
        [nzActive]="true"
      >
      </nz-skeleton-element>
    </td>
  </tr>
</ng-template>

<ng-template #emptyTable>
  <div class="empty-table">
    <span>Aún no se han registrado datos en esta sección</span>
  </div>
</ng-template>
